<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">MisionTIC Ciclo 4</h5>
          <p class="grey-text text-lighten-4">Proyecto Uber - Desarrollo WEB</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Realizado por: </h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Cristian Camilo Muñoz </a></li>
            <!--<li><a class="grey-text text-lighten-3" href="#!">Nelson</a></li>-->
            <!-- <li><a class="grey-text text-lighten-3" href="#!">Wilber</a></li> -->
            
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>